<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include("partials/menu.ejs") %>
  
    <h1><%= title %></h1>
    <p>Wery Welcome to <%= title %></p>
	
	<canvas id="canv" width="500" height="500" > </canvas>
	
	<%- include("partials/footer.ejs") %>
  </body>
</html>
